In [2]:
import pandas as pd 
import plotly.express as px
import seaborn as sns
import numpy as np

In [6]:
# Dataframes

games = pd.read_csv("games.csv")
platforms = pd.read_csv("game_platforms.csv")
stores = pd.read_csv("game_stores.csv")

In [7]:
games.head()

,slug,name,playtime,rating,released
0,satisfactory,Satisfactory,12,4.30,2024-09-11
1,v-rising,V Rising,7,3.70,2024-05-08
2,stalker-2,S.T.A.L.K.E.R. 2: Heart of Chornobyl,10,3.84,2024-11-20
3,senuas-saga-hellblade-ii,Senua's Saga: Hellblade II,0,3.95,2024-05-21
4,hollow-knight-silksong,Hollow Knight: Silksong,0,4.22,2024-12-31

In [8]:
platforms.head()

                       slug         platform
0              satisfactory               PC
1                  v-rising               PC
2                 stalker-2               PC
3                 stalker-2  Xbox Series S/X
4  senuas-saga-hellblade-ii               PC

In [9]:
stores.head()

           slug       store
0  satisfactory       Steam
1  satisfactory  Epic Games
2      v-rising       Steam
3     stalker-2       Steam
4     stalker-2  Xbox Store

### Missing Value Check

In [13]:
games.isna().sum().sum()

0

In [16]:
stores.isna().sum().sum()

0

In [17]:
platforms.isna().sum().sum()

0

### Value Counts

In [24]:
x = platforms["platform"].value_counts()
y = platforms["platform"]

TypeError: 'module' object is not callable